.form {
  border: 1px solid #8a8a8a;
  display: flex;
  justify-content: center;
  height: 40px;
}

.form__input {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  color: #ffff52;
  padding: 0 10px;
  border: none;
}

.form__input:focus {
  outline: none;
  background-color: rgba(138, 138, 138, 0.25);
}

.form__button {
  min-width: 80px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-left: 1px solid #8a8a8a;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #008800;
  text-transform: uppercase;
}

.form__button:hover {
  cursor: pointer;
  background-color: rgba(138, 138, 138, 0.25);
}
